body {
    background-color: #455A64;
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
header {
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}
.bookmarks {
    background-color: #CFD8DC;
    border: 3px solid #607D8B;
    float: right;
    width:50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
header {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 30px;
}
.enter-guess {
    color: #FFFFFF;
    font-size: 14px;
    background-color: #FFC107;
    border: none;
    outline: none;
    margin: 10px;
}
.enter-guess:hover {
    background-color: #FFD773;
    border: none;
    outline: none;
}

.read-btn {
    color: #455A64;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: white;
    text-decoration: underline;
    text-decoration-color: #F2F4F4;
}
.delete-btn {
    color: #455A64;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: white;
    text-decoration: underline;
    text-decoration-color: #F2F4F4;
}
#left-side {
    float: left;
    margin: 10px;
    position: sticky;
    width: 50%;
}
#website-title-input {
    margin: 10px;
}
#website-url-input {
    margin: 10px;
    text-decoration: underline;
    text-decoration-color: #CFD8DC;
}
.inner-bookmark-box {
    background-color: white;
}
.outer-bookmark-box {
    background-color: #CFD8DC;
    padding: 10px;
    margin: 10px;
    border: 1px solid #607D8B;
    background-color: white;
}
.read {
    background-color: #F2F4F4;
}
.read .read-btn {
    color: red;
}
.read .website-url{
    text-decoration: underline;
    text-decoration-color: #CFD8DC;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [type*="body"] {
        width: 100%;
    }
}
button:disabled {
    background-color: grey;
}
.website-title {
    color: #455A64;
    font-size: 22px;
    padding: 10px;
}
.website-url {
    color: #607D8B;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: #F2F4F4;
    padding: 10px;
}
.website-url:hover {
    color: #455A64;
    text-decoration-color: #FFC107;
}
.read-btn:hover {
    color: #455A64;
    text-decoration-color: #FFC107;
}
.delete-btn:hover {
    color: #455A64;
    text-decoration-color: #FFC107;
}