body {
    background-color: #455A64;
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
header {
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 80px;
    color: #FFFFFF;
    font-weight: 800;
}
.enter-guess {
    color: #FFFFFF;
    font-size: 21px;
    background-color: #FFC107;
    border: none;
    outline: none;
    margin: 10px;
    width: 90%;
}
.enter-guess:hover {
    background-color: #FFD773;
    border: none;
    outline: none;
}
.read-btn {
    color: #455A64;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: white;
    text-decoration: underline;
    text-decoration-color: #F2F4F4;
}
.delete-btn {
    color: #455A64;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: white;
    text-decoration: underline;
    text-decoration-color: #F2F4F4;
}
#website-url-input {
    text-decoration: underline;
    text-decoration-color: #CFD8DC;
}
.inner-bookmark-box {
    background-color: white;
}
.outer-bookmark-box {
    background-color: #CFD8DC;
    padding: 10px;
    margin: 10px;
    border: 1px solid #607D8B;
    background-color: white;
}
.read {
    background-color: #F2F4F4;
}
.read .read-btn {
    color: red;
}
.read .website-url{
    text-decoration: underline;
    text-decoration-color: #CFD8DC;
}
button:disabled {
    background-color: grey;
}
.website-title {
    color: #455A64;
    font-size: 22px;
    padding: 10px;
}
.website-url {
    color: #607D8B;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: #F2F4F4;
    padding: 10px;
}
.website-url:hover, .read-btn:hover, .delete-btn:hover {
    color: #455A64;
    border-bottom: 2px solid #FFC107;
}
.website-url {
    border-bottom-width: auto;
}
.container {
    display: flex;
    width: 100%;
}
#left-side {
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#right-side {
    background-color: #CFD8DC;
    border: 3px solid #607D8B;
    width:50%;
    height: 100%;
}
img {
    width: 100px;
}
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    #right-side, #left-side {
        width: 100%;
        height: 50%;
    }
    #right-side {
        overflow: scroll;
    }
    header {
        font-size: 24px;
    }
    img {
        width: 24px;
    }
}
.inputs {
    width: 90%;
    font-size: 24px;
    margin: 25px 0;
}
